/* .container{
  position: sticky;
  top: 0px;
  background-color: #45A1D3CC;
  z-index: 1000;
  transition: all 0.7s ease-in-out;
} */

.notSticky {
  transition: all 0.3s ease-in-out;
  position: sticky;
  top: 0px;
  padding: 20px;
  z-index: 100;
}

.sticky {
  transition: all 0.3s ease-in-out;
  position: sticky;
  top: 0px;
  /* padding: 6px; */
  padding: 10px;
  z-index: 100;
  background-color: #45a1d3;
}
